---
layout: default
current: blog
title: Peers
---
<main role="main" class="cf">
  <article class="posts">
    <article role="article" itemscope itemtype="http://schema.org/BlogPosting">
      Members who have presented at group events or authored articles on this site.
      {% for peer in site.data.peers %}
      <p>{{peer.lastname}}, {{peer.firstname}}</p>
      <ul>{% for post in site.posts %}
	{% if post.peer == peer.key %}
	<li><a href="{{site.baseurl}}{{post.url}}">
	    {{post.date | date: "%Y-%m-%d"}}</a> - {{post.title}}
	  {% endif %}
	  {% endfor %}
      </ul>
      {% endfor %}
    </article>
  </article>
</main>


