<footer role="contentinfo" class="page-footer">
  <section class="footer-note">
    <p>{{site.orgname}} is an informally organized group of people who are active in the Free Software / Open Source software community located in or near Canton, Ohio, USA.</p>
  </section>
  <section class="legal">
    <p>&copy; {{site.copyright}} {{site.orgname}} | All content offered under <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/" title="Creative Commons License">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International</a>.</p>
    <ul class="social">
      <li><a href="https://github.com/cantonlinux" title="Github" class="github">Github</a></li>
    </ul>
  </section> 
</footer>
