
<!--Create a sorted array of tags-->
{% capture site_tags %}{% for tag in site.tags %}{{ tag | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
{% assign sortedTags = site_tags | split:',' | sort %}
<aside>
  <h3>Article Tags</h3>
  <ul class="archives">
    <li><a href="{{site.baseurl}}/tags/">All posts</a></li>
    {% for tag in sortedTags %}
    <li><a href="{{site.baseurl}}/tags/#{{ tag | cgi_escape }}">{{ tag }} ({{ site.tags[tag].size }})</a></li>
    {% endfor %}
  </ul>
  <h3>Connect</h3>
  <ul>
    <li><a href="{{site.meetupurl}}" title="Meetup">Meetup</a></li>
    <li><a href="{{site.githuburl}}" title="Github">Github</a></li>
 </ul>
  <h3>RSS</h3>
  <p><a href="{{site.baseurl}}/feed.xml" title="Subscribe RSS feed" class="rss">RSS feed</a></p>
</aside>
